@import './variables.css';
@import './iconfonts.css';

@lost flexbox flex;

/* -- Mixins */

@define-mixin btn $textColor, $bgColor, $bgColorStart, $bgColorEnd {
  border-radius: 12px;
  border: none;
  color: $(textColor);
  padding: 7px 12px;
  cursor: pointer;
  font-size: var(--fontSize);
  text-decoration: none;
  background: $(bgColor);
  background: linear-gradient(to left, $(bgColorStart), $(bgColorEnd))
}

.u-scrollContainer {
  width: 100%;
  height: 400px;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
  font-size: 0;

  &-itemContainer {
    border: 1px solid var(--border-feature);
    border-radius: 12px;
    width: 98%;
    height: 95%;
    margin: 1%;
    display: inline-block;
    line-height: 18px;
    font-size: 28px;
  }

  &-itemContent {
    display: flex;

    & > img {
      width: auto;
      height: 300px;
    }
  }
}

.u-Grid {
  background: gray;
  lost-center: 800px;
  lost-utility: clearfix;

  &-column {
    background-color: blue;
    lost-column: 1/5;

    @media (--tablet) {
      lost-column: 1/3;
    }

    @media (--mobile) {
      lost-column: 1/1;
    }
  }
}

.u-wrapper {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.Invie {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

.InvieHero {
  background: url('../images/background.png') var(--bg-header);
  padding: 20px;
  height: 500px;
  background-size: cover;

  @media (--retina) {
    background-image: url('../images/background2x.png');
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-logo {
    transition: all 0.3s ease-in;
    display: inline-block;
    margin-left: 0;
    &:hover {
      filter: blur(2px);
    }
  }

  &-navbar {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
  }

  &-menu {
    &-item {
      display: inline-block;
      margin-left: 30px;
    }

    &-item:before {
      content: '∘';
      font-size: 50px;
      line-height: 20px;
      color: white;
    }

    &-item a {
      color: white;
      text-decoration: none;
    }
  }

  &-copy {
    &-title {
      color: var(--bg-body);
      font-family: 'Montserrat', sans-serif;
      font-size: responsive 32px 70px;
      margin-bottom: 0;
      margin-top: 70px;
    }

    &-title span {
      text-decoration: underline;
    }

    &-subtitle {
      font-size: 24px;
      margin-top: 45px;
      color: white;
    }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end)
    }
  }
}

.InvieGuitars {
  color: #1F313C;
  margin-bottom: 60px;
  margin-top: 60px;

  &-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
  }

  &-demo-contenedor {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding-top: 20px;

    @media(--desktop) {
      
    }
  }

  &-item {

    &-list > li {
      margin-bottom: 30px;
    }
    &-list > li span {
      padding-top: 40px;
    }
  }
}

.InvieFooter {
  background-color: var(--bg-footer);
  padding: 50px 10px;

  &-contact {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    display: block;
  }

  &-link {
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
  }

   &-link strong {
    display: block;
  }

  &-form {

    display: flex;
    width: 400px;
    color: white;

    &-colum-1, &-colum-2 {
      display: flex;
      flex-direction: column;
    }

    &-colum-1 {
      margin-right: 15px;
    }

    &-colum-2 {
      align-items: flex-start;
    }

    &-intereses {
      & > label {
        font-size: 12px;
      }
    }

    &-sexo {
      margin-top: 10px;
    }

    &-label {
      margin-bottom: 10px;
    }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
      margin-top: 15px;

    }
  }
}